#wrap {
	width:800px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
}

h1 {
	font-size: 16px;
	color: #333;
	background-color: #DDD;
	border-bottom: 1px #999 solid;
	text-align: center;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

canvas {
	border: 1px solid white;
}