
html, body {
    height: 100%;
    /* Needed if you want to use height: 100% within the body tag */
    padding-top: 15px;
    padding-left: 65px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#flotreward {
    width: 600px;
    height: 300px;
    margin-top: 60px;
}

button, input, optgroup, select, textarea {
    color: black;
}

.game-container {
    height: 100%; /* The 'html, body' styles above can be removed if you want to use a fixed height here (ie. 800px) */
    text-align: center; /* Horizontally align text elements to centre */
    font-size: 0; /* Remove whitespace between elements (ie. a space between a word) */
}

.game-container:after {
    /* Create a pseudo-element after 'game-container' div */
    content: ''; /* Required attribute of pseudo-element */
    width: 0; /* Force it to have no width */
    height: 100%; /* Make full height of container */
}

.game-container .world {
    width: 600px; /* Your game width */
    height: 600px; /* Your game height */
    background: white;
}

.game-container:after, .game-container .world {
    display: inline-block; /* Force these elements to behave like text, but allow width and height */
    vertical-align: middle; /* Vertically align text WITH OTHER TEXT SIBLINGS (hence the pseudo-element) */
}

@-ms-viewport {
    width: 100vw ;
    zoom: 100% ;
}

@viewport {
    width: 100vw ;
    zoom: 100% ;
}

@-ms-viewport {
    user-zoom: fixed ;
}

@viewport {
    user-zoom: fixed ;
}

/*@-ms-viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }   @viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }*/