#wrap {
	width:800px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
}

h1 {
	font-size: 16px;
	color: #333;
	background-color: #DDD;
	border-bottom: 1px #999 solid;
	text-align: center;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

canvas {
	border: 1px solid white;
	color: #FFFFFF;
}

.button {
    width: 100px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 50px;
    top: 100px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    background-repeat: no-repeat;
}

#draw {
    margin-left: 100px;
}

svg {
    border: 1px solid black;
}

/* following three (cascaded) are equivalent to above three meta viewport statements */
/* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html */
/* see http://dev.w3.org/csswg/css-device-adapt/ */
@-ms-viewport {
    width: 100vw ;
    zoom: 100% ;
}

@viewport {
    width: 100vw ;
    zoom: 100% ;
}

@-ms-viewport {
    user-zoom: fixed ;
}

@viewport {
    user-zoom: fixed ;
}

/*@-ms-viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }   @viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }*/