#wrap {
	width:800px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
}

h1 {
	font-size: 16px;
	color: #333;
	background-color: #DDD;
	border-bottom: 1px #999 solid;
	text-align: center;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

canvas {
	border: 1px solid white;
}

#ui_canvas {
	/*z-index: 0;*/
	position: absolute;
}

#world_canvas {
	z-index: 0;
	position: absolute;
}

.button {
    width: 100px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 50px;
    top: 100px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    background-repeat: no-repeat;
}
