<link rel="stylesheet" type="text/css"
      href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet"
      href="https://code.getmdl.io/1.2.1/material.brown-indigo.min.css"/>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<body>
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Learninator</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="#"><i class="material-icons">home</i></a>
                <a class="mdl-navigation__link" href="#"><i class="material-icons">info</i></a>
                <a class="mdl-navigation__link" href="#"><i class="material-icons">mail</i></a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Learninator</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="#">Projects</a>
            <a class="mdl-navigation__link" href="#">Random</a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        <div class="page-content">

            <div class="content-grid mdl-grid">